@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: url(../images/background.png) no-repeat;
}

header,
footer,
section {
  display: block;
}

section {
  position: fixed;
  -webkit-padding-start: 0;
  bottom: 170px;
  right: 45px;
  text-align: right;
}

header {
  line-height: normal;
  margin-bottom: 15px;
  text-align: left;
  padding: 0;
}

h1 {
  border-bottom: 1px dotted #bbb;
  margin-bottom: 15px;
  padding: 0;
  padding-bottom: 5px;
  font-size: 60px;
}

span {
  color: #224488;
}

ul {
  margin-top: 15px;
  padding-left: 0;
}

ul,
li {
  display: inline;
}

li {
  margin-left: 4px;
  margin-right: 4px;
}

a {
  text-decoration: none;
  font-size: 28px;
  border: 0;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #224488;
}

a:hover:before,
a:hover:after {
  color: black;
}

a:before,
a:after {
  color: white;
  border: 0;
}

a:before {
  content: "{";
}

a:after {
  content: "}";
}